* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

h1 {
    text-align: center;
    margin: 0;
}

.nav-bar {
    text-decoration: none;
    list-style-type: none;
}

.nav-bar li {
    display: inline-block;
    font-size: 20px;
    color: white;
    height: 50px;
    padding: 15px 10px 0 10px;
    margin: 0 auto;
}

.nav-bar li a {
    text-decoration: none;
    padding: 5px 5px 5px 5px;

}

.nav-bar li a:hover {
    border: 1px solid white;
    padding: 4px 4px 4px 4px;
}

h3 {
    text-align: center;
}


.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projectH1 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 50px;
}

.projects-hint {
    text-align: center;
}

img.projectPhoto {
    min-width: 375px;
    max-width: 375px;
    height: 335px;
}

.fastest-cars img {
    border: 1px solid white;
}

.project-title,
.project-caption {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}


/* #cors-notice {
    text-align: center;
} */


.profiles {
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin-left: 30%;
}

img {
    max-width: 300px;
}

body {
    background-color: #054b93;
}


#experience-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.job-info {
    font-size: 18px;
}

.work-item {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding-left: 5px;
    border: 1px solid white;
}

.work-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    color: gold;
}

.job-role {
    font-size: 18px;
}

.project-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}

.project-links a {
    text-decoration: underline;
    display: inline-block;
}

.project-links a:hover {
   transform: scale(1.1, 1.1);
}

#work-header {
    margin-bottom: 20px;
    text-align: center;
}

.work-list li {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}


.work-box {
    border: 1px solid white;
    padding: 10px;
    font-size: 18px;
    /* text-align: center; */
}

#presentation-img {
    float: left;
}

/* mobile queries down below */
@media only screen and (min-width : 320px) and (max-width : 600px) {

    /* greater than 320px (iPhone 5/SE) and smaller than 600px */

    .homePage {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: 1fr;
    }

    #experience-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .work-item {
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 90vw;
    }

    #aboutMe {
        margin-left: 10%;
        margin-right: 10%;
    }

    .job-role {
        text-align: center;
    }
}

@media screen and (max-width: 320px) {

    /* less than or equal to iPhone 5/SE screen */

    .homePage {
        grid-template-columns: 1fr;
    }

    #aboutMe {
        padding-right: 0px;
        padding-right: 0px;
    }

    .nav-bar {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .about {
        margin-left: 5%;
        margin-right: 5%;
    }

}